{% extends 'base.html.twig' %}

{% block messaging %}

	{% if app.user %}
		<div class="row justify-content-center">
			<div class="d-flex ">
				<img class="avatar mt-3" src="{{ app.user.imagePicture }}" alt="avatar">
			</div>
		</div>
	{% endif %}
	<div class="example-wrapper overflow-auto">
		{{ form_start(form) }}
		{{ form_row(form.content) }}
		{{ form_rest(form) }}
		<div class="row justify-content-center">
			<a class="btn btn-success btn-lg m-3" role="button" href="{{ path('default') }}">Return</a>
			<button class="btn btn-success btn-lg m-3" role="button" aria-pressed="true">{{ button_label|default('Send') }}</button>
		</div>
		{{ form_end(form) }}
	</div>


{% endblock %}
