{% form_theme form 'bootstrap_4_layout.html.twig' %}
{{ form_start(form) }}
    {{ form_row(form.Message) }}
            {{ form_rest(form) }}
    <button class="btn">{{ button_label|default('Submit') }}</button>
{{ form_end(form) }}


